@charset "UTF-8";
/* CSS Document */
@font-face {
  font-family: Raleway-Regular;
  src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
  font-family: Raleway-Bold;
  src: url(../fonts/Raleway-Bold.ttf);
}
body {
  font-family: Raleway-Regular;
  font-size: 16px;
  color: #777777;
  line-height: 30px;
}
.navbar-light .navbar-nav .nav-link {
  color: #272727;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: white;
  background-color: #ff3c41;
  font-family: Raleway-Bold;
  font-size: 12px;
}
.carousel .carousel-inner img {
  width: 100%;
}
.title {
  font-family: Raleway-Bold;
  font-size: 40px;
  color: #1b1b1b;
  text-align: center;
  letter-spacing: 2px;
  padding: 60px 0 30px 0;
}
.about-img {
  width: 100%;
}
.about-content h3 {
  font-family: Raleway-Bold;
  font-size: 26px;
  color: #3c3c3c;
  font-weight: 100;
}
.about-content button {
  background-color: none;
  font-family: Raleway-Bold;
  font-size: 12px;
  border: 3px solid #76daff;
  color: #3c3c3c;
}
.line {
  height: 1px;
  background-color: #7f7f7f;
  margin: 20px auto;
}
.about-icon {
  font-size: 40px;
  color: #76daff;
}
.about-service h4 {
  font-family: Raleway-Bold;
  font-size: 20px;
  color: #222222;
  font-weight: 100;
  letter-spacing: 2px;
}
.about-service p {
  font-size: 16px;
  color: #777777;
  font-family: Raleway-Bold;
}
@media screen and (max-width: 992px) {
  .about-img,
  .about-content {
    text-align: center;
  }
}
@media screen and (max-width: 700px) {
  .about-img {
    display: none;
  }
  .navbar-light .navbar-brand {
    width: 50%;
  }
}
